body,p,ul {
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans', sans-serif; 
}
button:active, button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}
header {
	height: 100vh;
}
.container {
	width: 100%;
}
.header-nav {
	display: flex;
	justify-content: space-between;
	height: 70px;
	background: #9c9692;
	color: #fff;
}
.header-nav-logo {
	padding-left: 26px;
	width: 60px;
}
.header-nav-menu ul {
	display: flex;
	font-size: 16px;
}
.header-nav-menu ul li {
	list-style: none;
	/* margin-right: 30px; */
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 26px;
	padding-bottom: 26px;
}
.header-nav-menu ul li:hover {
	background: #d4cec8;
	transition: 0.8s;
}
.header-nav-menu ul li a {
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}
.header-nav-phone {
	width: 170px;
	background: #88383d;
}
.header-nav-phone p {
	margin: 12px 0 7px 12px;
}
.header-nav-phone a {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	margin-left: 12px;
}
.header-content {
	display: flex;
}
.header-content-title {
	background: #ecece6;
}
.header-content-title {
	width: 38.2%;
}
.header-content-title-h1 {
	display: block;
	color: #5a5653;
	margin-top: 130px;
	margin-left: 80px;
	font-size: 40px;
	font-weight: normal;
	width: 400px;
}
.header-content-title-btn {
	background: #bb4e4f;
	padding: 10px;
	margin-left: 80px;
	text-decoration: none;
	border: none;
	cursor: pointer;
}
.header-content-title-btn:hover {
	background: #88383d;
	transition: 0.8s;
}
.header-content-title-btn a {
	font-size: 18px;
	color: #fff;
	text-decoration: none;
}
.header-content-img img{
    height: 100%;
    width: 100%;
}
.goal {
	margin-top: 130px;
}
.goal .container {
	display: flex;
}
.goal-img {
	margin-left: 100px;
}
.goal-content {
	width: 700px;
	margin-left: 50px;
}
.goal-content-title {
	font-weight: normal;
}
.goal-content-text {
	line-height: 1.5em;
}
.goal-content-textbold {
	font-size: 22px;
	font-weight: bold;
	color: #9c9692;
	text-align: right;
	margin-top: 40px;
}
.services {
	margin-top: 130px;
}
/* стили для карусели  */
.owl-carousel {
	width: 75% !important;
	position: relative;
	margin: 0 auto;
}
.owl-stage-outer {
	width: 90% !important;
	overflow: hidden; 
	margin: 0 auto;
}
.haircut {
	background: url(../img/haircutNewRed.jpg) no-repeat center;
}
.styling {
	background: url(../img/stylingNewRed.jpg) no-repeat center;
}
.weaving {
	background: url(../img/weavingNewRed.jpg) no-repeat center;
}
.coloring {
	background: url(../img/coloringNEWRED.jpg) no-repeat center;
}
.straightening {
	background: url(../img/straighteningNewRed.jpg) no-repeat center;
}
.care {
	background: url(../img/care.jpg) no-repeat center;
}
.therapy {
	background: url(../img/therapy.jpg) no-repeat center;
}
.coat {
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	overflow: hidden;
	background: rgba(187, 78, 79, 0.7);
	width: 214px;
	height: 214px;
	color: #fff;
}
.coat:hover {
	width: 174px;
	height: 174px;
	background: none;
	border: 20px solid rgba(187, 78, 79, 0.7);
	transition: 1s;
	color: rgba(0, 0, 0, 0);
}
.coat p {
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	margin-left: 15px;
	margin-right: 40px;
	width: 120px;
}

.owl-nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	font-size: 70px;
	color: #9c9692;
	font-weight: lighter;
}
.owl-prev {
	position: absolute;
	top: 60px;
}
.owl-next {
	position: absolute;
	top: 60px;
	right: 0;
}