body,p,ul {
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans', sans-serif; 
}
button:active, button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}
input {
	border: 0;
}
input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
h2 {
	font-weight: normal;
}
.non-scrolling {
	overflow: hidden;
	margin-right: 17px;
}
.wrap {
	width: 1144px;
	margin: 0 auto;
}
.page-main {
	margin-bottom: 120px;
}
.page {
	margin-bottom: 120px;
}
.nav {
	display: flex;
	justify-content: space-between;
	height: 70px;
	background: #9c9692;
	color: #fff;
}
.logo {
	width: 50px;
	height: 60px;
	align-self: center;
}
.logo_left{
	padding-left: 26px;
}
.menu {
	display: flex;
	font-size: 16px;
	margin-top: 3px;
	margin-bottom: 3px;
}
.menu__item {
	display: flex;
	align-items: center;
	list-style: none;
	
}
.menu__item:hover {
	background: #d4cec8;
	transition: 0.8s;
}
.menu__item:active {
	background: linear-gradient(0deg, #f4f6f0, #d4cec8);
}
.menu__item a {
	text-decoration: none;
	padding: 20px 25px;
	color: #fff;
	cursor: pointer;
	
}
.menu__item a:active {
	font-weight: bold;
}
.toggle__btn {
	position: relative;
	display: none;
	align-self: center;
	width: 45px;
	height: 35px;
	cursor: pointer;
}
.toggle__btn span{
	display: block;
	position: absolute;
	background: #212121;
	left: 0;
	width: 45px;
	height: 1.5px;
}
.toggle__btn span:nth-child(1) {	
	top: 10px;
	width: 15px;
}
.toggle__btn span:nth-child(2) {
	top: 20px;
	width: 22px;
}
.toggle__btn span:nth-child(3) {
	top: 30px;
	right: 0px;
}
.phone {
	width: 170px;
	background: #88383d;
}
.phone p {
	margin: 12px 0 7px 12px;
	font-size: 14px;
}
.phone a {
	text-decoration: none;
	color: #fff;
	margin-left: 12px;
}
.page-main-content {
	display: flex;
	justify-content: flex-end;
	background: #ecece6;
}
.block-offer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: #ecece6;
	width: 50%;
} 

.page-main__title {
	display: block;
	color: #5a5653;
	font-size: 40px;
	font-weight: normal;
	width: 400px;
	margin-left: calc(50% - 200px);
}
.page-main__btn {
	display: block;
	width: 130px;
	background: #bb4e4f;
	padding: 10px;
	margin-left: calc(50% - 200px);
	text-decoration: none;
	cursor: pointer;
	font-size: 18px;
	color: #fff;
	text-align: center;
}
.page-main__btn:hover {
	position: relative;
	z-index: 1;
}
.page-main__btn::before {
	position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(0deg, #bb4e4f, #e16567);
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 0;
}
.page-main__btn:hover::before {
	opacity: 1;
}
.page-main__btn:active {
	background: linear-gradient(0deg, #e16567, #bb4e4f);
}
.page-main__btn a {
	
}
.page-main-content__img_width1200 {
	display: none;
}
.page-main-content__img_width768 {
	display: none;
}
.page-main-content__img {
	position: relative;
	height: calc(100vh - 70px);
	width: 62.8%;
	overflow: hidden;
}
.page-main-content__img img {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
}
.block-about {
	display: flex;
	align-items: center;
}
.block-about__img {
	margin-left: calc(50% - 501px);
}
.block-about-text {
	width: 700px;
	margin-left: 30px;
	padding-top: 30px;
}
.block-about__desc {
	line-height: 1.5em;
	width: 600px;
	letter-spacing: 0.3px;
}

/* стили для карусели  */
.carousel {
	width: 1010px !important;
	position: relative;
	margin: 0 auto;
}
.carousel .owl-stage-outer {
	width: 87% !important;
	margin: 0 auto;
}

.carousel-item {
	position: relative;
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	overflow: hidden;
	width: 194px;
	height: 194px;
	background-color: rgba(187, 78, 79, 0.7);
	color: #f4f6f0;
}
.carousel__img {
	z-index: -1;
}
.carousel__img:hover {
	border: 10px solid rgba(187, 78, 79, 0.8);
}
.carousel__text {
	position: absolute;
	font-size: 18px;
	font-weight: 600;
	margin-left: 15px;
	margin-right: 40px;
	width: 120px;
	letter-spacing: 0.7px;
}

.owl-nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.owl-nav:hover {
	color: #9c9692;
	transition: 0.8s;
}
.owl-prev {
	position: absolute;
	top: 60px;
}
.owl-prev span {
	font-size: 70px;
	color: #d6d9d0;
	font-weight: lighter;
}
.owl-prev span:hover {
	color: #9c9692;
	transition: 0.8s;
}
.owl-prev span:active {
	color: #fff;
}
.owl-next {
	position: absolute;
	top: 60px;
	right: 0;
}
.owl-next span {
	font-size: 70px;
	color: #d6d9d0;
	font-weight: lighter;
}
.owl-next span:hover {
	color: #9c9692;
	transition: 0.8s;
}
.owl-next span:active {
	color: #fff;
}

/* стили всплывающего окна */

.price {
	padding-top: 90px;
	margin-top: 30px;
}
.price-start {
	display: block;
	width: 180px;
	padding: 5px;
	background-color: #fff;
	border: 1px solid #d4cec8;
	margin: 0 auto;
	color: #958f8c;
	font-size: 20px;
	line-height: 1.5;
	text-align: center;
	cursor: pointer;
}
.price-popup {
	overflow: auto; 
    top: 12%; 
	left: 30%;
	position: fixed;
	width: 60%;
	height: 100%;  
	border-radius: 5px; 
	margin-left: -150px;	
	margin-top: -100px;
	display: none; 
	opacity: 0;
	padding: 17px;
	z-index: 6;
	color: #000; 
	background-color: #f1f1f1;
}
.price-popup__title {
	margin-left: 10px;
}
.price-popup__text {
	margin-left: 10px; 
	width: 600px;
	margin-bottom: 25px;
}
.price-popup__close {
    cursor: pointer;
	position: absolute;
	width: 23px;
	height: 23px; 
	top: 17px;
	right: 17px;
	display: block;
}
.price-overlay {
	z-index:4; 
	background-color:#585350; 
	position:fixed; 
	opacity:0.9;
	width:100%; 
	height:100%;
	display:none; 
	top:0;
	left:0;
	overflow: auto;
}

/* стили таблицы цен */
.price-popup-table {
	margin: 0 auto;
	border-radius: 10px;
	border-spacing: 10px;
	color: #000;
	padding-bottom: 50px;
}
.price-line {
	background: #d4cec8;
	font-size: 18px;
	width: 90%;
	font-weight: 500;
}
.price-line:hover {
	background: #fff;
}
.price__name {
	width: 70%;
	padding: 5px 0 5px 20px;
	border-radius: 5px;
}
.price__number {
	text-align: center;
	width: 10%;
	border-radius: 5px;
}
.price-line_light {
	background: #e1e4da;
}
.price-line_dark {
	background: #b4b0ad;
	color: #fff;
}
.price-line_dark:hover {
	background: #b4b0ad;
} 
.price-inane {
	display: none;
}
.page_flex {
	position: relative;
	display: flex;
	flex-direction: row-reverse;
	margin-top: -50px;
	padding-top: 50px;
	margin-bottom: 100px;
}

.appointment {
	display: none;
}
.appointment_btn {
	background-image: url(../img/pen.png);
	background-size: 100%;
	color: rgba(0,0,0,0);
	font-size: 5px;
	font-weight: bold;
	text-decoration: none;
    height: 50px;
    width: 50px;
    top: 30px;
    right: 30px;
    cursor: pointer;
    display: block;
    position: fixed;
    z-index: 3;
}
.appointment_btn_text {
	margin-top: 35px;
	margin-left: 8px;
}
.block-appointment {
	position: absolute;
	left: 0;
	top: 50px;
	width: 77%; 
	height: 0; 
	border-bottom: 501px solid #f4f6f0;
	border-left: 0px solid transparent;
	border-right: 90px solid transparent
}
.block-appointment-form {
	display: flex;
	flex-direction: column;
	width: 350px;
	height: 250px;
	background: #fff;
	margin: 125px auto;
}
.page__title_width {
	display: block;
	width: 200px;
	margin: 15px auto 5px;
}
.block-appointment__input {
	width: 85%;
	margin: 10px auto 0;
	height: 24px;
	border-bottom: 1px solid #9c9692;
}
.block-studio {
	height: 500px;
	overflow: hidden;
}
.block-studio__img {
	height: 100%;
}
.block-appointment-btns {
	display: flex;
	flex-direction: row-reverse;
	margin-top: 30px;
	width: 90%;
}
.btn-submit {
	margin-left: 10px;
	background: #bb4e4f;
	border: 1px solid #bb4e4f;
	color: #fff;
	padding: 6px;
	cursor: pointer;
}
.btn-submit:hover {
	position: relative;
	z-index: 1;
}
.btn-submit::before {
	position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(0deg, #bb4e4f, #e16567);
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 0;
}
.btn-submit:hover::before {
	opacity: 1;
}
.btn_submit:active {
	background: linear-gradient(0deg, #e16567, #bb4e4f);
}
.btn-reset {
	margin-left: 10px;
	background: none;
	border: 1px solid #d4cec8;
	color: #9c9692;
	padding: 6px;
	cursor: pointer;
}
.btn-reset:hover {
	border: 1px solid #9c9692;
	color: #8c8783;
	transition: 0.8s;
}
.btn-reset:active {
	background: #9c9692;
	color: #fff;
}
.home-care {
	margin-top: -30px;
	padding-top: 30px;
}
.home-care .wrap {
	position: relative;
}
.home-care .page__title {
	margin-left: calc(35% - 250px);
}
.home-care__text {
	margin-left: calc(35% - 250px);
	width: 500px;
	line-height: 1.5em;
	letter-spacing: 0.3px;
}
.home-care__slider {
	width: 444.44px !important;
	margin-left: calc(35% - 250px);
	margin-top: 50px;	
}
.home-care__text-vertical {
	position: absolute;
	color: #efeeed;
	font-size: 100px;
	text-transform: uppercase;
	font-weight: bold;
	transform: rotate(270deg);
	transform-origin: bottom;
	top: 30%;
	right: calc(23% - 250px);
}
footer {
	background: #9c9692;
	color: #fff;
	overflow: hidden;
}
.up_btn {
    height: 64px;
    width: 64px;
    bottom: 30px;
    right: 36px;
    cursor: pointer;
    display: none;
    position: fixed;
    z-index: 3;
    color: #d4cec8;
    font-size: 80px;
	transform: rotate(90deg);
	transform-origin: bottom;
}
.footer-nav {
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
}
.contacts {
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding-top: 20px;
	padding-bottom: 20px;
	align-items: center;
}
.contacts-text p {
	margin-bottom: 15px;
}
.contacts-text p a {
	text-decoration: none;
	color: #fff;
}
.contacts__map {
	width: 600px;
	height: 300px;
	background: #efefef;
	margin-right: calc(35% - 361px);
}
.credits {
	display: flex;
	justify-content: space-between;
	padding: 15px 0;
	font-size: 14px;
}
.credits__text_right {
	text-align: right;
}


@media screen and (max-width: 1366px) {
	.block-offer {
		width: 38.2%;
	}
	.block-appointment {
		width: 67.7%;
	}
	.carousel .owl-stage-outer {
		width: 83%;
	}
	.page-main-content__img {
		max-height: 768px;
	}

}
/* планшеты и мобильные */
/* 992px - 1200px */
@media screen and (max-width: 1200px) {
	.page-main-content__img_width1200 {
		display: block;
	}
	.page-main-content__img_width1366 {
		display: none;
	}
	.page-main-content__img img {
		right: -45px;
	}
	.non-scrolling {
		margin-right: initial;
	}
	.wrap {
		max-width: 820px;
	}
	.block-offer {
		width: 400px;
		margin-left: 5%;
	}
	.page-main__title{
		font-size: 35px;
		width: 350px;
	}
	.page-main-content__img {
		min-height: 500px;
		max-height: 675px;
	}
	.carousel {
		width: 768px !important;
	}
	.home-care__text-vertical {
		right: -15%;
	}
	.contacts {
		justify-content: flex-start;
	}
	.contacts-text {
		margin-right: 20px;
	}
	.contacts__map {
		width: 350px;
		margin-right: 0;
	}
}

/* 768px - 992px */
@media screen and (max-width: 992px) {
	.wrap {
		max-width: 750px;
	}
	.nav {
		position: fixed;
		z-index: 9999;
		width: 100%;
	}
	.menu {
		display: none;
	}
	.toggle-menu {
		display: none;
		position: absolute;
		top: 66px;
		flex-direction: column;
		width: 100%;
		z-index: 4;
		background-color: rgba(156, 150, 146, 0.95);
	}
	.toggle__btn {
		display: block;
	}
	.page-main-content {
		padding-top: 70px;
	}
	.block-offer {
		margin-right: 2%;

	}
	.page-main__title {
		width: 300px;
		margin-left: 0;
		margin-top: calc(50% - 110px);
	}
	.page-main__btn {
		margin-left: 0;
	}
	.page-main-content__img {
		height: 400px;
	}
	.block-about__img {
		margin-left: 10px;
	}
	.block-about__desc {
		width: 95%;
	}
	.carousel {
		width: 750px !important;
	}
	.price-popup {
		top: 85px !important;
		margin-top: 0;
		left: 37%;
	}
	.price-popup__text {
		width: 80%;
	}
	.price-popup-table {
		padding-bottom: 100px;
	}
	.appointment_btn {
		left: 30px;
		bottom: 30px;
		top: initial;
		right: initial;
	}
}
/* 650px - 768px */
@media screen and (max-width: 768px) {
	.wrap {
		max-width: 630px;
	}
	.page-main {
		margin-bottom: 0;
	}
	.page {
		margin-bottom: 60px;
	}
	.page-main-content {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		height: calc(100vh - 70px);
		min-height: 768px;
	}
	.block-offer {
		width: initial;
		width: 90%;
		margin: 0;
	}
	.page-main__title {
		color: #4a4948;
		font-weight: 600;
		font-size: 40px;
		line-height: 1.5;
		letter-spacing: 0.5px;
		margin-top: initial;
		text-align: center;
		width: 100%;
	}
	.page-main__btn {
		margin: 0 auto 20px;
	}
	.page-main-content__img {
		order: -1;
		min-height: initial;
		max-height: initial;
		height: auto;
		width: 90%;
	}
	.page-main-content__img img {
		position: initial;
		width: 100%;
		height: auto;
	}
	.page-main-content__img_width768 {
		display: block;
	}
	.page-main-content__img_width1200 {
		display: none;
	}
	.carousel {
		width: 600px !important;
	}
	.carousel .owl-stage-outer {
		width: 90% !important;
	}
	.carousel-item {
		height: 160px;
		width: 160px;
	}
	.carousel__text {
		font-size: 
	}
	.owl-nav {
		display: none;
	}
	.home-care .page__title {
	    margin-left: 5%;
	}
	.home-care__text {
		margin-left: 5%;
    	width: 400px;
	}
	.home-care__slider {
		margin-left: 5%;
		width: 400px!important;
	}
	.home-care__text-vertical {
		right: -28%;
	}
}
/* 500px - 650px */
@media screen and (max-width: 650px) {
	.wrap {
		max-width: 95%;
	}
	.page-main-content__img {
		width: 85%;
	}
	.page-main__title {
		font-size: 35px;
	}
	.block-about__text {
		width: initial;
	}
	.block-about__img {
		display: none;
	}
	.price {
		padding-top: 40px;
	}
	.carousel {
		width: 100% !important;
	}
	.carousel-item {
		width: 240px;
		height: 240px;
	}
	.carousel .owl-stage-outer {
		width: 480px !important;
	}
	.price-popup {
		width: 90%;
		left: 0;
		margin-left: 2%;
	}
	.block-appointment {
		border-bottom: 501px solid rgba(244, 246, 240, 0.5);
		border-right: 0 solid transparent;
		width: 100%;
	}
	.home-care__text-vertical {
		display: none;
	}
	.contacts {
		flex-direction: column;
	}
}
/* 320px - 500px */
@media screen and (max-width: 500px) {
	.page-main-content {
		min-height: 550px;
	}
	.page-main__title {
		font-size: 28px;
	}
	.price {
		padding-top: 0;
	}
	.carousel .owl-stage-outer {
		width: 250px !important;
	}
	.price-popup {
		width: 96%;
		padding: 0;
	}
	.price-line {
		font-size: 14px;
		font-weight: bold;
	}
	.block-appointment-form {
		width: 300px;
	}
	.home-care__text {
		width: 90%;
	}
	.home-care__slider {
		width: 300px!important;
	}
	.contacts__map {
		width: 90%;
	}
}
@media screen and (max-width: 340px) {
	.page-main-content__img {
		width: 80%;
	}
}